@font-face{

	font-family: "futuraM";
	src: url(../fonts/futura-medium.ttf);
}

@font-face{

	font-family: "futuraMI";
	src: url(../fonts/futura-mediumitalic.ttf);
}

@font-face{

	font-family: "futuraCEB";
	src: url(../fonts/futura-condensedextrabold.ttf);
}

@font-face{

	font-family: "futuraCM";
	src: url(../fonts/futura-condensedmedium.ttf);
}
body{
	font-family: futuraM;
	color: #fff;
}

header{
	background-color: green;
/*	height: 10vh;*/
}
article{
	min-height: 90vh;
}
li{
	list-style: none;
}

input{
	width:35%;
	border:none;
	border-bottom: 2px solid #6360FD;
	background-color: #DBDBDB;
	margin:0.3%;
}
textarea{
	width:35%;
	height: 60px;
	border:none;
	background-color: #DBDBDB;
}
button{
	background-color:  #6360FD;
	width:35%;
	border:none;
	border-radius: 3px;
	padding: 1%;
	color: white;
	margin-bottom: 5%;
}
label{
	color: #9E9E9E;
	width:35%;
    margin-top: 2%;
    margin-bottom: 0;
	text-align: left;
}
input[type="checkbox"]{
	width: 5%;
}
#article4{
	background-color: #DBDBDB;
}

.error{
	border-bottom: 2px solid #B02023;
	
}
#article4 h2{
	color: #9E9E9E;
}

/*-------------------------------------------------------------------------------------------------------*/
::-webkit-input-placeholder {
   color: black;
}

:-moz-placeholder { /* Firefox 18- */
   color: black;  
}

::-moz-placeholder {  /* Firefox 19+ */
   color: black;  
}

:-ms-input-placeholder {  
   color: black;  
}

/*-------------------------------------------------------------------------------------------------------*/

.onoffswitch {
	
	margin-left: 32.5%;
    position: relative; width: 61px;
    -webkit-user-select:none; -moz-user-select:none; -ms-user-select: none;
}
.onoffswitch-checkbox {
    display: none;
}
.onoffswitch-label {
	width: 100%;
    display: block; overflow: hidden; cursor: pointer;
    border: 2px solid #9E9E9E; border-radius: 25px;
}
.onoffswitch-inner {
    display: block; width: 200%; margin-left: -100%;
    transition: margin 0.3s ease-in 0s;
}
.onoffswitch-inner:before, .onoffswitch-inner:after {
    display: block; float: left; width: 50%; height: 15px; padding: 0; line-height: 21px;
    font-size: 0px; color: white; font-family: Trebuchet, Arial, sans-serif; font-weight: bold;
    box-sizing: border-box;
}
.onoffswitch-inner:before {
    content: "ON";
    padding-left: 10px;
    background-color: #6360FD; color: #FFFFFF;
}
.onoffswitch-inner:after {
    content: "OFF";
    padding-right: 10px;
    background-color: #9E9E9E; color: #999999;
    text-align: right;
}
.onoffswitch-switch {
    display: block; width: 31px; margin: -6px;
    background: #FFFFFF;
    position: absolute; top: 0; bottom: 0;
    right: 36px;
    /*border: 2px solid #9E9E9E; */
    border-radius: 25px;
    transition: all 0.3s ease-in 0s; 
    box-shadow: 0px 0px 1px 1px rgba(0, 0, 0, 0.2); 
}
.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-inner {
    margin-left: 0;
}
.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-switch {
    right: 0px; 
}
/*-------------------------------------------------------------------------------------------------------*/

#nbCar{
	
	text-align: right;
}

/*==========================================================================================================*/
										/*FOOTER*/
/*==========================================================================================================*/


#footerBG{
	background-image: url("../img/bgd-footer.jpg");
	background-size: cover;
	/*height:21.93vw;*/
}

#col2Footer, #col1Footer {
	text-align: left;
	padding-left: 10%;

}


#col1Footer{
	border-right: 1px solid white;
}
footer{
	color:white;
	padding-bottom: 1%;
	padding-top: 1%;
	

}

#footerImg{
	height:7em;	
}
footer li{
	margin-top: 5%;
	margin-bottom: 7%;
	font-size: 1.5em;
}
footer div{
	margin-top: 1%;
}
footer i{
	font-size: 0.8em;
}

/*==========================================================================================================*/
										/*FIN FOOTER*/
/*==========================================================================================================*/

/*==========================================================================================================*/
										/*article3*/
/*==========================================================================================================*/

#article3{
	background-image: url("../img/bgd-section-03.jpg");
	/*height: 48.87vw;*/
	background-size: cover;
}

#article3 .cercleOver{
	border:0.8em solid white;
	margin: auto;
	   height: 20em;
    width: 20em;
	overflow: hidden;
	border-radius: 50%;

}
#article3 .container{
	padding-top: 10%;
}

#article3 img[src="img/avis-01.jpg"]{
	width: 100%;
    height: 100%;
}
#article3 img[src="img/avis-02.jpg"]{
	width: 100%;
    height: 100%;
}
#article3 img[src="img/avis-03.jpg"]{
	width: 100%;
    height: 100%;
}
#article3 .retourne360{
	transform: rotate(180deg);
	margin-top: 20%;
}
#article3 img[src="img/guillemet.svg"]{
	/*width: 1.4em;
    margin: 3%;*/
/*    width: 3.5em;*/

}
#article3 p{
	/*width:90%;*/
	font-family: 'futuraMI';
}




/*==========================================================================================================*/
										/*Lea*/
/*==========================================================================================================*/

#entete{
	background-image: url(../img/bgd-header.jpg);
	background-size: cover;
	/*height: 7.31vw;*/
}

#article1{
	background-image: url(../img/bgd-section-01.jpg);
	background-size: cover;
	height: 67.53vw;
	overflow: hidden;
	
}
#article2{
	background-image: url(../img/bgd-section-02.jpg);
	background-size: cover;
	background-repeat: repeat;
/*	height: 40.06vw;*/
	font-size:2em;
	padding: 1em;
	
}

/*#article3{
	background-image: url(../img/bgd-section-03.jpg);
	background-size: cover;
	height: 48.875vw;
}*/

#article1 h2 {
	font-family: 'futuraCEB';
	font-size: 3.5em;
	text-shadow: 0px 0px 15px  #000;
	
}
#article1 h3 {
	font-size: 2.5em;
	text-shadow: 0px 0px 15px  #000;

}
#closer{
	font-family: 'futuraCM';
	font-size: 2em;
	text-shadow: 0px 0px 15px  #000;


}
#produit{	
	margin-top: -17em;
	margin-left: 2em;
	width:51vw;
}
#article2 h2 {
	font-size: 1.5em;

}
#article2 img{
	width: 60%;
	margin-top: 3em;
}

#asterix{
	font-size:0.5em;
}

a{
	color: #fff;
}
a:hover, a:active{
	color: #fff;
	text-decoration: none;
}


header li{
	margin-top: 2%;
	margin-left:5%;
	margin-right:5%;
	font-size: 1.3em;
	padding: 0.5%;

}

header li:hover{
	background-color: #791B1B;
}

@media screen and (max-width: 992px){
	#col1Footer{
		border-right: none;
	}
	#col1Footer, #col2Footer{
		text-align: center;
		padding:0;
	}
	.retourne360{
		margin:0;
	}
}